.App {
  text-align: center;
  align-items: center;
}

.hex-converter {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px
}

.color-input-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 250px
}

.form-input {
  display: flex;
  flex: 1;
}

.color-input-label {
  flex: 1;
  text-align: left;
}

.color-input-field {
  flex: 3;
  margin-bottom: 5px;
}

.color-square {
  flex: 1;
  margin-left: 10px;
  margin-bottom: 5px;
}

.buttons-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.button {
  width: 40%;
  align-self: center;
  min-width: 60px
}

.hex-display-container {
  flex: 1;
}

.display-hex-form {
  display: flex;
  flex-direction: column;
}

.display-hex-input {
  width: 40%;
  align-self: center;
  margin-top: 10px;
  min-width: 70px;
  margin-left: 10px
}
